# IntelliJ
.idea

# Forge MDK
forge-1.21-51.0.5-mdk/.gradle
forge-1.21-51.0.5-mdk/build
forge-1.21-51.0.5-mdk/.idea
forge-1.21-51.0.5-mdk/run
#forge-1.21-51.0.5-mdk/src/main/java/com
com/
forge-1.21-51.0.5-mdk/changelog.txt
